

.profile{
    background-color: transparent;
    max-width: 70%!important;
    padding: 10px;
    margin: 10px 100px 200px 100px; ;
    border-radius: 15px;
    height:100%;
    justify-content: space-between;

}
.wrapper-body-profile{

    background-color: #eee;
    display:inline;

}

/* PROFILE-PICTURE-INFOS*/


.profile-pic{
    width:150px;
    height:150px;
    border-radius: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;

}

.name, .city{
    margin:0;
}

.background-info-pic {

    margin-bottom: 40px;
    background-color: #FAFAFA;
    border-radius: 15px;
    height: 250px;
    border:solid;

}


/* ALL CATEGORIES EXPERIENCES + EDUC + DESCRIPTION*/

.profile-infos{

    margin: 0;
    font-size: 100%;
    background: #FAFAFA;
    border-radius: 10px;
    border:solid;


}

#line{

    text-align:left;
    margin-left:0;
    width:30%;
}

.between-category-separator{

    width:20%;
    margin: 30px auto;
}

.category-profile{
    margin: 10px 0;
    font-size: 25px;
    color: #5d5b5b;
}




/* DESCRIPTION*/

.description{
    padding-top: 20px;
}

/* EXPERIENCES*//* EDUCATION*/

.experiences{
    padding-bottom: 20px;
}

.date{

    margin:0;
    font-size: 15px;
    color: #5a5757;
    font-style: italic;
}

.position-type{

    margin: 0;
    font-size: 18px;
}



.company-educ-name{
    margin: 0;
    font-size: 20px;

}

.description-exp{
    margin: 0;
}


/* BUTTONS */

#btn-update-profile{

    float: right;
    font-size: 30px;
    position: relative;


}

#btn-validate-profile{

    float: right;
    font-size: 15px;
    position: relative;
    top:20px;

}
/* between 2 sections*/

