.container-profile{
    background-color: white;
    width: 700px;
    padding: 10px;
    margin: auto;
    border-radius: 15px;
}

.profile-pic{
    width:100px;
    height:100px;
    border-radius: 150px;
    display: inline-block;
    float: left;


}
.background-info-pic {
    background-color: lightgrey;
    width: 700px;
    padding: 10px;
    margin: auto;
    border-radius: 15px;
}

.background-info-pic div {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

#btn-update-profile{
    justify-content: flex-end;
    float: right;
    bottom:30px;

}

.date-exp{

    font-size: 15px;
    color: #5a5757;
    font-style: italic;
}

.position-exp{

    margin: 0;
    font-size: 20px;
}

.company-exp{
    margin: 0;
    padding-top: 20px;
}

.description-exp{
    margin: 0;
}

