.container-background {
    background: url("../../images/conferencing.jpg") no-repeat center fixed;
    height: 100vh;
    padding: 50px;

}

#slogan{
    text-align: center;
    color: white;
    padding-top: 150px;
    font-size: 50px;
    font-weight: lighter;

}

.separator{
    border: 1px ridge  white;
    border-radius: 5px;
    width:50%;
}

.profiles-users{
    margin-top: 50px;
}

.profile-user{
    height:250px;
    border: 1px solid #eeeeee;
    max-width: 250px;
}


.pic-profile-home{
    height: 150px;
    width:150px;
    border-radius: 50%;

}


