.container-background {
    background: url("../../images/conferencing.jpg") no-repeat center fixed;
    height: 60vh;
    padding: 50px;

}

#slogan{
    text-align: center;
    color: white;
    padding-top: 150px;
    font-size: 50px;
    font-weight: lighter;

}

.separator{
    border: 1px ridge  white;
    border-radius: 5px;
    width:50%;
}

.profiles-users{
    margin: 0 100px;
    background-color: white ;
    border: 0.01em solid #e0dfdc;
    border-radius: 4px;
    padding: 15px 150px; ;
}

.home-page{
    background-color: #f3f2ef;
}
.profile-user{
    height:280px;
    width: 260px;
}

.border-profile{
    border: 1px solid #eeeeee;
    text-align: center;
    padding: 10px;
    margin-left: 20px;
    max-height:320px;
    max-width: 260px;
}


.profile-user:hover {
    background-color: #eeeeee;
}


.pic-profile-home{
    height: 150px;
    width:150px;
    border-radius: 50%;

}


