.container-background {
    background: url("../../images/conferencing.jpg") no-repeat center fixed;
    height: 100vh;
    padding: 50px;

}

#slogan{
    text-align: center;
    color: white;
    padding-top: 150px;
    font-size: 50px;
    font-weight: lighter;

}

.separator{
    border: 1px ridge  white;
    border-radius: 5px;
    width:50%;
}
